:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #f0f2f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  /* Hide scrollbars for a full-app experience */
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;
}
